{
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-export-namespace-from",
    "@babel/plugin-transform-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "corejs": 3,
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
