{
    "env": {
        "production": {
            "plugins": [
                "@babel/transform-react-constant-elements",
                "@babel/transform-react-inline-elements"
            ]
        }
    },
    "plugins": [
        "@babel/transform-runtime",
        "@babel/proposal-export-namespace-from",
        "@babel/syntax-dynamic-import",
        "@babel/proposal-class-properties"
    ],
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ],
        "@babel/flow",
        "@babel/react"
    ]
}
