@import (reference) 'mixins';

.f_h1 {
    .font-fluid-md(36px, 40px, 68px, 74px);

    font-weight: bold;
}

.f_h2 {
    .font-fluid-md(32px, 36px, 56px, 74px);

    font-weight: bold;
}

.f_h3 {
    .font-fluid-md(28px, 32px, 44px, 52px);

    font-weight: bold;
}

.f_h4 {
    .font-fluid-md(26px, 28px, 36px, 44px);

    font-weight: bold;
}

.f_h5 {
    .font-fluid-md(24px, 28px, 28px, 32px);

    font-weight: bold;
}

.f_h6 {
    .font-fluid-md(22px, 24px, 24px, 28px);

    font-weight: bold;
}

.f_p {
    .font-fluid-md(14px, 20px, 16px, 20px);
}

.font-face(@font-name-primary, 'roboto/roboto-light', 300, normal);
.font-face(@font-name-primary, 'roboto/roboto-light-italic', 300, italic);
.font-face(@font-name-primary, 'roboto/roboto-regular', 400, normal);
.font-face(@font-name-primary, 'roboto/roboto-regular-italic', 400, italic);
.font-face(@font-name-primary, 'roboto/roboto-bold', 700, normal);
.font-face(@font-name-primary, 'roboto/roboto-bold-italic', 700, italic);
