// Набор системной цветовой палитры.
@c-error: #d84315;
@c-success: #7ed225;
@c-mark: #ffed00;
@c-warning: #ffca3a;

// Набор оттенков серого.
@c-gray-10: #000000;
@c-gray-9: #262626;
@c-gray-8: #595959;
@c-gray-7: #8c8c8c;
@c-gray-6: #bfbfbf;
@c-gray-5: #d9d9d9;
@c-gray-4: #e8e8e8;
@c-gray-3: #f5f5f5;
@c-gray-2: #fafafa;
@c-gray-1: #ffffff;

@c-black: @c-gray-10;
@c-white: @c-gray-1;

// Полупрозрачный чёрный
@c-black-85: fade(@c-black, 85%); // #262626
@c-black-65: fade(@c-black, 65%); // #595959
@c-black-45: fade(@c-black, 45%); // #8c8c8c
@c-black-25: fade(@c-black, 25%); // #bfbfbf
@c-black-15: fade(@c-black, 15%); // #d9d9d9
@c-black-09: fade(@c-black, 9%); // #e8e8e8
@c-black-04: fade(@c-black, 4%); // #f5f5f5
@c-black-02: fade(@c-black, 2%); // #fafafa

// Полупрозрачный белый
@c-white-85: fade(@c-white, 85%); // #dadada
@c-white-65: fade(@c-white, 65%); // #a7a7a7
@c-white-45: fade(@c-white, 45%); // #747474
@c-white-25: fade(@c-white, 25%); // #3e3e3e
@c-white-15: fade(@c-white, 15%); // #212121
@c-white-09: fade(@c-white, 9%); // #101010
@c-white-04: fade(@c-white, 4%); // #030303

// Набор цветовой палитры сайта
@c-primary-10: #003320;
@c-primary-9: #005936;
@c-primary-8: #008048;
@c-primary-7: #00a658;
@c-primary: #00cc66;
@c-primary-5: #23d978;
@c-primary-4: #49e68d;
@c-primary-3: #74f2a7;
@c-primary-2: #a3ffc5;
@c-primary-1: #e6ffee;

/**
Набор размеров шрифтов для сайта.
Важно: Нужно заранее определиться с дизайнером по поводу используемых сочетаний размер шрифта/интерлиньяж и использовать только их
*/
@text-size-xxxs: 8px;
@text-size-xxs: 13px;
@text-size-xs: 14px;
@text-size-s: 15px;
@text-size-m: 17px;
@text-size-l: 19px;
@text-size-xl: 21px;
@text-size-xxl: 23px;
@text-size-xxxl: 25px;

@metric-xs: 4px;
@metric-s: 8px;
@metric-m: 12px;
@metric-l: 16px;
@metric-xl: 20px;
@metric-xxl: 24px;

// Настройки сетки
@grid-columns: 12;
@grid-gutter-width: 20px;
@grid-col-name: e('col');

// Набор адаптивных точек переходов
@size-xs-min: 0px;
@size-sm-min: 600px;
@size-md-min: 900px;
@size-lg-min: 1200px;
@size-xl-min: 1800px;
