@import (reference) '~styles/mixins.less';

.menu-item {
    display: block;
    padding: 5px;
    text-decoration: none;

    &_current {
        background-color: @c-secondary-30;
        color: @c-primary-90;
        cursor: default;
    }
}
