@import (reference) 'prev-size';

@size-xs-min: 0;
@size-sm-min: 640px;
@size-md-min: 960px;
@size-lg-min: 1280px;
@size-xl-min: 1440px;

@size-xs-max: .prev-size(@size-sm-min)[];
@size-sm-max: .prev-size(@size-md-min)[];
@size-md-max: .prev-size(@size-lg-min)[];
@size-lg-max: .prev-size(@size-xl-min)[];

@xs-min: ~'(min-width: @{size-xs-min})';
@xs-max: ~'(max-width: @{size-xs-max})';
@xs: @xs-min and @xs-max;

@sm-min: ~'(min-width: @{size-sm-min})';
@sm-max: ~'(max-width: @{size-sm-max})';
@sm: @sm-min and @sm-max;

@md-min: ~'(min-width: @{size-md-min})';
@md-max: ~'(max-width: @{size-md-max})';
@md: @md-min and @md-max;

@lg-min: ~'(min-width: @{size-lg-min})';
@lg-max: ~'(max-width: @{size-lg-max})';
@lg: @lg-min and @lg-max;

@xl-min: ~'(min-width: @{size-xl-min})';
@xl: @xl-min;
