// Набор системной цветовой палитры.
@c-error: #d84315;
@c-success: #7ed225;
@c-mark: #ffed00;
@c-warning: #ffca3a;

// Набор оттенков серого.
@c-gray-100: #000000;
@c-gray-200: #262626;
@c-gray-300: #595959;
@c-gray-400: #8c8c8c;
@c-gray-500: #bfbfbf;
@c-gray-600: #d9d9d9;
@c-gray-700: #e8e8e8;
@c-gray-800: #f5f5f5;
@c-gray-900: #fafafa;
@c-gray-1000: #ffffff;

// Набор цветовой палитры сайта
@c-primary-100: #bbc7bf;
@c-primary-200: #95baa3;
@c-primary-300: #6fad88;
@c-primary-400: #4da171;
@c-primary-500: #2f945e;
@c-primary-600: #15874e;
@c-primary-700: #0b6139;
@c-primary-800: #043b23;
@c-primary-900: #00140c;
@c-primary-1000: #000000;

@c-black: @c-gray-100;
@c-white: @c-gray-1000;

// Полупрозрачный чёрный
@c-black-85: fade(@c-black, 85%); // #262626
@c-black-65: fade(@c-black, 65%); // #595959
@c-black-45: fade(@c-black, 45%); // #8c8c8c
@c-black-25: fade(@c-black, 25%); // #bfbfbf
@c-black-15: fade(@c-black, 15%); // #d9d9d9
@c-black-09: fade(@c-black, 9%); // #e8e8e8
@c-black-04: fade(@c-black, 4%); // #f5f5f5
@c-black-02: fade(@c-black, 2%); // #fafafa

// Полупрозрачный белый
@c-white-85: fade(@c-white, 85%); // #dadada
@c-white-65: fade(@c-white, 65%); // #a7a7a7
@c-white-45: fade(@c-white, 45%); // #747474
@c-white-25: fade(@c-white, 25%); // #3e3e3e
@c-white-15: fade(@c-white, 15%); // #212121
@c-white-09: fade(@c-white, 9%); // #101010
@c-white-04: fade(@c-white, 4%); // #030303
